@import 'fonts/avant-garde';

@include foundation-menu;
@include foundation-title-bar;
@include foundation-top-bar;
@include foundation-visibility-classes;

$navbar-blue: #000099;

.responsive-navbar {
  $navbar-menu-padding: rem-calc(10);

  @mixin pad-menu-item {
    position: relative;
    top: $navbar-menu-padding;
  }

  nav {
    @include breakpoint(large) {
      // TODO: I wish we didn't need this, but we do, at least for the moment.
      background: {
        image: url("/images/navbar/navbar-bg.png");
        repeat: repeat-x;
      };
    }

    & > ul {
      @include menu-base;
      @include menu-direction(vertical);

      @include breakpoint(large) {
        @include menu-direction(horizontal);

        & > li {
          border-right: 1px solid $white;
          vertical-align: inherit;

          & > a {
            background-color: $navbar-blue;
            color: $white;
            height: rem-calc(36);
            max-height: rem-calc(36);
            font: {
              family: $avant-garde;
              size: rem-calc(18);
              weight: bolder;
            }
            text-transform: uppercase;
            & > span {
              @include pad-menu-item;
            }
          }
        }

        .dropdown {
          // position: relative;
          & > ul {
            display: none;
          }
          &:hover > ul {
            background-color: white;
            position: absolute;
            // top: 100%;
            // left: 0px;
            border: 1px solid $navbar-blue;
            display: block;
            // padding-left: 0px;
            // & > li li {
            //   font-size: 90%;
            // }
          }
          & > a:after {
            @include pad-menu-item;
            content: " ▼";
            font-size: 80%;
          }
          ul {
            @include menu-direction(vertical);
            @include menu-nested;
            white-space: nowrap;
          }
        }
      }
    }
  }

  .title-bar {
    span {
      @extend .title-bar-title
    }
  }
}

#logo-small a {
  background-color: inherit;
  padding: {
    left: 0px;
    right: 0px;
  }
  img {
    margin: 0px; // TODO: pad the right side of the image
  }
}
