@import 'fonts/avant-garde';


@include foundation-menu;
@include foundation-top-bar;
nav {
  $navbar-blue: #000099;

  @include top-bar-container;
  background: {
    image: url("/images/navbar/navbar-bg.png");
    repeat: repeat-x;
  };
  padding: 0px;

  & > ul {
    @extend .menu;
    background-color: transparent;

    & > li > a {
      margin-top: rem-calc(16);
      font: {
        family: $avant-garde;
        size: rem-calc(18);
        weight: bolder;
      }
      // background-color: $navbar-blue;
      color: $white;
      text-transform: uppercase;
      vertical-align: bottom;
      border-right: 1px solid $body-background;
    }
  }

  #logo-small {
    padding-top: 0px;
    vertical-align: inherit;

    a {
      margin-top: 0px;
      padding: 0px;
    }
  }

  .dropdown {
    // position: relative;
    & > ul {
      display: none;
    }
    &:hover > ul {
      // background-color: white;
      position: absolute;
      // top: 100%;
      // left: 0px;
      border: 1px solid $navbar-blue;
      display: block;
      // padding-left: 0px;
      // & > li li {
      //   font-size: 90%;
      // }
    }
    & > a:after {
      content: " ▼";
      font-size: 80%;
    }
    ul {
      @include menu-direction(vertical);
      ul {
        @extend .nested;
      }
    }
  }
}

#breadcrumbs { // TODO: use Foundation breadcrumbs instead
  font-size: 90%;
}
