@import 'settings/settings';
@import 'fonts/bree-serif';
@import 'fonts/lato';
@import 'globals';

$body-font-family: $lato;
$header-font-family: $bree-serif;
$header-sizes: (
  small: (
    'h1': 24,
    'h2': 20,
    'h3': 19,
    'h4': 18,
    'h5': 17,
    'h6': 16,
  ),
  medium: (
    'h1': 30,
    'h2': 25,
    'h3': 24,
    'h4': 20,
    'h5': 18,
    'h6': 16,
  ),
);

$cite-font-size: inherit;

$menu-item-padding: 0px 1rem;

$titlebar-background: $navbar-blue;
$titlebar-color: $logo-cyan;
// $titlebar-padding: 0.5rem;
// $titlebar-text-font-weight: bold;
// $titlebar-icon-color: $white;
// $titlebar-icon-color-hover: $medium-gray;
// $titlebar-icon-spacing: 0.25rem;

$topbar-background: $body-background;
