@import 'base';
@import 'archive';
@import 'footer';
@import 'icon';
@import 'navbar';

a {
  &[href^="mailto:"] { font-style: italic; }

  &[href$='.pdf'] {
    @include icon("/images/pdf-icon-16x16.png", 16px, 16px, 2px);
  }
}

body {
  margin: $topbar-padding;
}

cite {
  display: inline;
  &::before, &:before {
    content: '';
  }
}

table.work-list {
  @include grid-row();

  tr:not(:first-child) {
    border-top: 1px solid black;
  }

  td, th {
    &.title { @include grid-column(3); }
    &.notes { @include grid-column(5); }
    &.music, &.recording { @include grid-column(2); }
  }
}
