@import 'foundation';

@include foundation-float-classes;

$margin: 1rem;

nav > ul > li {
  vertical-align: top;
  padding-top: rem-calc(18);
  position: relative;
  left: -2rem - $margin;
  z-index: 1;

  &:first-child a {
    padding-left: 2rem + $margin;
  }
}

#logo {
  @extend .float-left;
  margin-right: $margin;
  padding-top: 0px;
  position: relative;
  z-index: 2;
}
