!!!
%html
  - @extra_headers = capture_haml do
    %meta{:name => "ICBM", :content => "42.663654,-73.778011"}
    %meta{:name => "DC.title", :content => "marnen.org: Homepage of Marnen Laibow-Koser"}
  = partial 'head' # this is the <head> element
  %body
    = partial 'navbar-big'
    = yield
    = partial 'footer'