<p>
<hr noshade>
</p>
<p><csobj w="887" h="18" t="Component" csref="../../marnen.org.data/Components/romanos/siteroot.html" occur="69">http://www.marnen.org/romanos</csobj><br>
Site design by <a href="http://www.marnen.org">Marnen Laibow-Koser</a> (<a href="mailto:marnen@marnen.org"><i>marnen@marnen.org</i></a>); logo artwork by Judith DeBiase.<br>
This page last modified <csobj w="183" h="18" t="DateTime" format="LongDate" region="15">Thursday, 27 December 2007</csobj>.
<!-- Begin Google Analytics. -->
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-985156-1");
pageTracker._initData();
pageTracker._trackPageview();
</script>
<!-- End Google Analytics. -->