#navbar
  #logo= img "romanos/logo.gif", :height => 91, :width => 315, :alt=>"The Flying Romanos"
  #links
    = link 'Home', './index.html', :id => 'home'
    %br>
    = link 'Appearances', './appearances.html', :id => 'appearances'
    %br>
    = link 'Recordings', './recordings.html', :id => 'recordings'
  #pix
    #ro <span class="nickname">Ro</span>bin Russell
    #ma <span class="nickname">Ma</span>rnen Laibow-Koser
    #no <span class="nickname">No</span>rma Castle
