- @layout = 'romanos'

%p The Flying Romanos are a country dance band based in the greater New York City area. English country dance music is what we first got together to play back in 1998, but we've diversified and now we quite happily play music for contras, Scottish country dance, and even a Balkan tune or two, although English music remains our primary focus.
%p
  Our members are
  %br
  = img "romanos/ro.jpg", :align=>"left", :width=>"86", :height=>"102"
  %span.nickname> Ro
  bin Russell (piano),
  %br
  = img "romanos/ma.jpg", :align=>"left", :width=>"86", :height=>"101"
  %span.nickname> Ma
  rnen Laibow-Koser (violin, viola, recorders), and
  %br
  = img "romanos/no.jpg", :align=>"left", :width=>"86", :height=>"101"
  %span.nickname>No
  rma Castle (flute, percussion).
%br{:clear => 'left'}
%p We started out as the house band for <a href="http://www.maxellute.net/njecd.html">North Jersey English Country Dancers</a>, and we still play there every other Sunday. But you can also hear us at various other dances in the New York area and farther afield at balls, festivals, and dance weekends. <a href="appearances.html">Here</a> is where you can catch us in the near future.
%p Of course, if you can't get to hear us in person, you might want to listen to our new CD, <a href="recordings.html"><cite>The Flying Romanos Take Off!</cite></a>
%p <strong>E-mail us!</strong> We like mail!
%p
  <font color="#660066"><b>Robin</b></font> (<a href="mailto:rr598@columbia.edu"><i>rr598@columbia.edu</i></a>) is the person to contact for bookings (dances, parties, special events,...).<br>
  Or perhaps you're looking for <font color="#660066"><b>Marnen</b></font> (<a href="mailto:marnen@marnen.org"><i>marnen@marnen.org</i></a>)<br>
  or <font color="#660066"><b>Norma</b></font> (<a href="mailto:castlenorma@yahoo.com"><i>castlenorma@yahoo.com</i></a>)?
