%h2 The Flying Romanos Take Off!
%p New CD -- just released in October 2002!
%p
  Great for dancing, or just for listening to. All the tunes are played at dance length, and we included sources for the steps in the liner notes. Audio samples are available on
  == #{link 'our MySpace page', 'http://www.myspace.com/flyingromanos'}!
%ol
  %li Halfe Hannikin
  %li Mister Cosgill's Delight (music by Arcangelo Corelli)
  %li
    Trip to Tunbridge
    / Click to hear a sample
  %li Sion House
  %li Eileen's A Dear (dance by Tom Cook to <cite>Robin Adair</cite>)
  %li Whimbleton House
  %li Cottey House
  %li Susan (dance by Tom Amessé to <cite>The Fairy Queen</cite> by Turlough O'Carolan)
  %li
    Fine Companion
    / sample
  %li
    Bryon's Boutade (dance by Fried de Metz Herman to <cite>Hubbub</cite> by Bryon Bonnett)
    / sample
  %li
    Mister Isaac's Maggot
    / sample
  %li Since First I Saw Your Face (dance by Fried de Metz Herman)
  %li
    Winter Waltz (dance by Fried de Metz Herman; music by Turlough O'Carolan)
    / sample
  %li Room for Ramblers
  %li Shepherd's Delight (dance by Hilary Herbert)
%h3
  Ordering Information
%p
  US$15 per CD, plus shipping and handling ($3 for first CD; $1 for each additional CD).
  %br
  Please send your order and a check (drawn on a U.S. bank, and made out to Robin Russell) to
%p
  Robin Russell
  %br
  328 Orchard Place
  %br
  Ridgewood, NJ 07450
  %br
  U.S.A.
%p Please include your telephone number and/or e-mail address.
%p OR
%p
  E-mail your order to
  = link '<i>rbnrussell@aol.com</i>', "mailto:rbnrussell@aol.com"
  and send payment by
  = link 'PayPal', "http://www.paypal.com"
  to that same e-mail address. (Our automated ordering system will be in place shortly!)
%p We will send your CDs by First Class or Priority Mail.