%h1 Welcome to marnen.org!
%p This is the site of Marnen Laibow-Koser, composer, performing musician, and Web designer. I play piano, organ, violin, viola, flute, and recorder; most of my work is in classical or Anglo-American folk music.