- @title = "#{partial('title').strip}: Homepage of Marnen Laibow-Koser"
- @layout = :home
%h1 Welcome to marnen.org!
%p== This is the site of #{link('Marnen Laibow-Koser', 'about.html')}. I'm a composer, performing musician, and Web developer living in Albany, New York. I play piano, organ, violin, viola, flute, and recorder; most of my work is in classical or Anglo-American folk music.