@font-face {
    font-family: 'TeXGyreAdventorRegular';
    src: url('/fonts/texgyreadventor-regular-webfont.eot');
    src: url('/fonts/texgyreadventor-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/texgyreadventor-regular-webfont.woff') format('woff'),
         url('/fonts/texgyreadventor-regular-webfont.ttf') format('truetype'),
         url('/fonts/texgyreadventor-regular-webfont.svg#TeXGyreAdventorRegular') format('svg');
    font-weight: normal;
    font-style: normal;
};

$tex_gyre: TeXGyreAdventorRegular, Futura, sans-serif;