@import "base";
@import "blueprint/typography";

@include blueprint-typography;

body {
  font: {
    size: 10pt; };
  // :margin-top 3px
}

// Override Blueprint defaults
h1 {
  font-size: 2em; }

@import "navbar";

@import "footer";
