@import compass/utilities/general.sass
@import compass/utilities/links.sass

!background_color = white
!text_color = black
!link_color = blue
!alink_color = red
!vlink_color = #330066
!nickname_color = #660066

=replace-text(!url, !width = 0px, !height = 0px)
  :background
    :image = image_url(!url)
    :repeat no-repeat
  :text-indent -9999em
  :vertical-align top
  :overflow hidden
  :height = !height
  :width = !width
  :min
    :height = !height
    :width = !width
    
=sprite(!x = 0px, !y = 0px)
  &:hover
    :background-position = !x !y

body
  :background-color = !background_color
  :color = !text_color
  
a
  +link-colors(!link_color, "auto", !alink_color, !vlink_color)

img
  :margin-right 3px
  
= romano
  :color = !nickname_color
  :font-weight bolder
  
.nickname
  +romano
  :font-size 112.5%
.romano
  +romano
  
a.mailto
  :font-style italic
  
#navbar
  +clearfix
  #logo
    :margin
      :right 4px
      :bottom 1.25em
    :float left
  #links
    :float left
    img
      :display inline-block
    #home
      +inline-block
      +replace-text("/images/romanos/home.png", 63px, 31px)
      +sprite(0px, -31px)
  
#footer
  :border-top 1px solid black
  p
    :margin 0 auto
    &:first-child
      :margin-top 0.25em