---
layout: 'romanos'
title: 'Appearances'
---

%h2 The Flying Romanos Flit About: Some Upcoming Appearances
%p Details of our upcoming gigs are just below. (If you're interested in a historical list of our really old appearances, look <a href="#old">here</a>.)
%p If you don't want to keep coming back here, you can <!-- get our new dates delivered to you automatically in <a href="http://www.google.com/calendar/feeds/p9o7nnukuui1ggdj830bmflo5s@group.calendar.google.com/public/basic">RSS</a> or <a href="http://www.google.com/calendar/ical/p9o7nnukuui1ggdj830bmflo5s@group.calendar.google.com/public/basic.ics">iCal</a> format, or you can --><a target="_blank" href="http://www.google.com/calendar/render?cid=p9o7nnukuui1ggdj830bmflo5s%40group.calendar.google.com">subscribe</a> to our Google calendar!
%iframe{:src => "http://www.google.com/calendar/embed?src=p9o7nnukuui1ggdj830bmflo5s%40group.calendar.google.com&title=The%20Flying%20Romanos%20Flit%20About&chrome=NAVIGATION&mode=AGENDA&epr=1&height=588", :style => " border-width:0 ", :width => "640", :frameborder => "0", :height => "588"}
%h3
  %a{:name => "old"}
  Old Gigs
%table{:border => "0", :cellpadding => "2", :cellspacing => "1"}
  %tr{:valign => 'top'}
    %td
      alternate Sundays
      %br
      2:00-5:00 p.m.
    %td== #{link_to 'North Jersey English Country Dancers', "http://www.maxellute.net/njecd.html"}, Ridgewood, NJ
  %tr{:valign => 'top'}
    %td{:colspan => "2"}
      %h3 2002
  %tr{:valign => 'top'}
    %td
      1 Dec.
      %br
      2:00-5:00
    %td
      The Flying Romanos CD Release Party!
      %br
      == #{link_to 'North Jersey English Country Dancers', "http://www.maxellute.net/njecd.html"}, Ridgewood, NJ
  %tr{:valign => 'top'}
    %td
      4 Dec.
      %br
      8:00-10:30
    %td Scottish Country Dancers of Westchester, Elmsford, NY
  %tr{:valign => 'top'}
    %td
      10 Dec.
      %br
      7:00-10:00
    %td <a href="http://www.cdny.org">Country Dance*New York</a>, New York, NY, with Graham Christian
  %tr{:valign => 'top'}
    %td
      15 Dec.
      %br
      2:00-5:00
    %td <a href="http://www.litma.org">LITMA</a>, Smithtown, NY, with Paul Ross
  %tr{:valign => 'top'}
    %td 26-31 Dec.
    %td <a href="http://www.lloydshaw.org/terpsichore.html">Terpsichore's Holiday</a>, West Virginia, with Judi Rivkin et al.
  %tr{:valign => 'top'}
    %td{:colspan => "2"}
      %h3 2003
  %tr{:valign => 'top'}
    %td 29 Mar.
    %td Binghamton (NY) ECD Ball, with Gene Murrow
  %tr{:valign => 'top'}
    %td 2 Apr.
    %td Scottish Country Dance Party, Elmsford, NY
  %tr{:valign => 'top'}
    %td 9 May
    %td Summit (NJ) Folkdancers, ECD, with Sharon Green
  %tr{:valign => 'top'}
    %td 10 May
    %td Hartford (CT) ECD Ball
  %tr{:valign => 'top'}
    %td 23 June
    %td Mostly Waltz, Philadelphia, PA