- @current_page_path = File.join(File.expand_path(@staticmatic.src_dir) , 'pages', current_page).gsub!(%r{\.html$}, '.haml')
#footer
  %p.copyright== This page copyright © 1998-#{Time.now.year} Marnen Laibow-Koser (<a class='mailto' href="mailto:marnen@marnen.org">marnen@marnen.org</a>)
  %p&== URL for this page is http://www.marnen.org#{current_page}
  %p&== Last modified #{File.mtime(@current_page_path).strftime '%A, %d %B %Y'}.
  