Redirect permanent /~bkoser/marnen/email http://users.bestweb.net/~bkoser/marnen/funstuff/email
Redirect permanent /~bkoser/marnen/funstuff.html http://users.bestweb.net/~bkoser/marnen/funstuff/index.html
