#badges /* Logos such as ICRA. */	{ text-align: right; border-width: 0px }
#badges td { text-align: right }
#breadcrumbs { font-size: 80%; padding-top: 43px; margin-left: 5px;  }
#content { margin-left: 5px; }
#footer   { margin-left: 5px; border-top: 1px solid #000 }
#links { position: relative; left: 0px; top: 43px; margin-top: 0px; margin-left: 5px}

#links ul {font-weight: bold; list-style-type: none; margin-top: 0px; margin-left: 0px; margin-bottom: 0px; padding-left: 0px; display: block }
#links li {display: inline-block;}
#links li li {padding-left: .5em; font-size: 90%; font-weight: normal}
#logo { background: url(images/marnen-bg.gif) repeat-x; background-color: #660066; position: absolute; left: 0px; width: 100%; height: 43px; z-index: 10 }
#title { position: absolute; left: 0px; width: 100%; height: 43px; z-index: 11 }
#title h1 { text-align: right; color: #fff; font-weight: bold; font-size: 24px; margin-top: 4px; margin-right: 5px;}

.menu_content {background: white; border: 1px solid black; margin-top: 0px; display: none;}
.menu:hover .menu_content {display: block; position: absolute;}

a { color: #00f; text-decoration: none }
a:hover { text-decoration: underline }
a:visited { color: #909;}
a:active { color: #f00; }
a.mailto { font-style: italic; }

a img { border-width: 0px }

p.address { margin-left: 2em }


body { color: #000; background-color: #fff; margin-top: 0pt; margin-bottom: 0pt; margin-left: 0px; font-family: Georgia, "New Century Schoolbook", Times, "Times New Roman", serif; }
