!!!
%html
  %head
    %title StaticMatic
    = stylesheets
  %body
    -# Consider removing the #grid when we're done debugging.  It's only there because showgrid doesn't work quite right on the body element.
    #grid
      = partial 'navbar'
      = yield
      = partial 'footer'