!!!
%html
  = partial 'head' # this is the <head> element
  %body
    -# Consider removing the #grid when we're done debugging.  It's only there because showgrid doesn't work quite right on the body element.
    #grid
      = partial 'navbar-big'
      = yield
      = partial 'footer'