.responsive-navbar
  .title-bar(data-responsive-toggle='nav' data-hide-for='large')
    %button.menu-icon(type='button' data-toggle)
    %span Marnen.org


  %nav#nav
    #logo= image_tag 'marnen-org-circular.png', height: 150, width: 150, alt: 'Marnen.org'
    %ul
      = partial 'navbar-links'
