---
title: Composition
---

:markdown
  I've been composing as long as I've been playing music; I received First Prize in the Aaron Copland Competition for Young Composers in 1988. I particularly enjoy writing songs and chamber music. My compositions tend to be rather eclectic, often combining classical forms with popular-influenced materials; many of my more recent works reflect my interest in early music.

  My composition teachers have included Myron Fink, [Carla Kihlstedt], [Hankus Netsky], [Anthony Newman], [Malcolm Peyton], and [Andrew W. Thomas], among others. In festival settings, I've also worked with Stephen Albert, [Tania León][tania leon], and [Jeff Scott].

  [andrew w. thomas]: http://composers.com/andrew-william-thomas
  [anthony newman]: http://www.anthonynewmanmusician.org
  [carla kihlstedt]: http://carlakihlstedt.com
  [hankus netsky]: http://necmusic.edu/faculty/hankus-netsky
  [jeff scott]: http://www.musicbyjeffscott.com/
  [malcolm peyton]: http://necmusic.edu/faculty/malcolm-c-peyton
  [tania leon]: http://www.tanialeon.com

  Below is a list of my recent works, with scores and links to recordings when available.

  Note that all my sheet music is available for free download; if you want to perform it, just make sure to send me a program so I can properly report the performance to [ASCAP] and receive applicable royalties. Better yet, contact me in advance—I always enjoy hearing my work performed, and of course I'd be happy to answer any questions about it!

  [ascap]: http://www.ascap.com

%table.work-list
  %tr
    %th.title Title
    %th.notes Notes
    %th.music Sheet music
    %th.recording Recording
  %tr
    %td.title
      %cite Fantasia on Greensleeves
      %br
      for flute, violin, and viola
    %td.notes This is a short work that I wrote as a surprise for two friends of mine. It was written to be easy enough for them to sight-read, but it's not as simple as that fact might suggest. The piece uses two versions of <cite>Greensleeves</cite>: the familiar modern version (in the outer sections) and a 17th-century version (in the middle section).
    %td.music
      :markdown
        * [full score](greensleeves/score.pdf)
        * [flute part](greensleeves/flute.pdf)
        * [violin part](greensleeves/violin.pdf)
        * [viola part](greensleeves/viola.pdf)
    %td.recording
  %tr
    %td.title
      %cite Fantasy-Ricercar
      %br
      for woodwind quintet
    %td.notes
      :markdown
        Written for the excellent [Adelante Winds] of San Antonio, Texas, and performed at the 2016 [Imani Winds Chamber Music Festival][imani festival], this is a fugal work of about 8 minutes, displaying the varied colors of the woodwind quintet.

        [adelante winds]: http://www.facebook.com/AdelanteWinds
        [imani festival]: http://www.imaniwindsfestival.com
    %td.music
      = link_to 'score and parts', 'https://drive.google.com/open?id=0B-9S1Y1t4sLoalBBdjR2am9xSE0'
    %td.recording
      %iframe(style="border: 0; width: 100%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/track=2976068262/size=small/bgcol=ffffff/linkcol=0687f5/transparent=true/" seamless)
        = link_to 'Fantasy-Ricercar by Marnen Laibow-Koser', "http://marnen.bandcamp.com/track/fantasy-ricercar"
  %tr
    %td.title
      %cite Isabella Regina, upon her Accession
      %br
      for SATB quartet or chorus
    %td.notes
      :markdown
        This is an anthem in the Anglo-Italian Renaissance madrigal tradition, written for Queen Isabella of the [East Kingdom] of the [SCA][sca]. The text is a sonnet by Ana Areces (known in the SCA as Ana Ravaya de Guzmán) which was read at Queen Isabella's coronation. This piece tied for first place in the musical composition category in the Northern Lights A&S Pentathlon in 2004.

        [east kingdom]: http://www.eastkingdom.org
        [sca]: http://www.sca.org
    %td.music
      :markdown
        * [full score](Anthem.pdf)
    %td.recording
      :markdown
        * [MIDI file](Anthem.mid) (not great quality; the middle section is half the speed it should be)
  %tr
    %td.title
      %cite The Young Art Student
      (in memory of Pete Seeger)
      %br
      for tenor, viola, and contrabass
    %td.notes
      Written in memory of Pete Seeger, this is a setting of an anonymous poem that he read in a radio interview. My intent is for the violist to also sing, but the piece can just as well be performed with a separate singer.
    %td.music
      = link_to 'full score', 'https://drive.google.com/file/d/0B-9S1Y1t4sLoUGQ2c3d6WHZiRzA/view?usp=sharing'
    %td.recording
      %iframe(style="border: 0; width: 100%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/track=3965125311/size=small/bgcol=ffffff/linkcol=0687f5/transparent=true/" seamless)
        = link_to 'The Young Art Student (in memory of Pete Seeger) by Marnen Laibow-Koser', "http://marnen.bandcamp.com/track/the-young-art-student-in-memory-of-pete-seeger"
      %br
      %iframe(src="https://player.vimeo.com/video/115772849?title=0&byline=0&portrait=0" width="320" height="180" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)
        %p
          :markdown
            [The Young Art Student](https://vimeo.com/115772849) from [Brian Dixon](https://vimeo.com/bcdixon) on [Vimeo](https://vimeo.com).
