---
title: Contact Me
---

%section
  :markdown
    # How to contact me

    By far the best method of getting in touch with me is to send e-mail to <marnen@marnen.org>. But there are other ways:

  %section
    :markdown
      # Instant messengers

      [AIM](http://www.aim.com)
      : Marnen
      [ICQ](http://www.icq.com)
      : 35676799
      [Google Talk](http://talk.google.com)
      : marnen@marnen.org
      [Jabber](http://www.jabber.org)
      : marnen@jabber.org
      [MSN Messenger](http://messenger.msn.com)
      marnen@marnen.org
      [Yahoo! Messenger](http://messenger.yahoo.com)
      : MarnenLK

      # Off the Internet

      If you're reading this, you can probably contact me in one of the ways listed above. But if you need my non-Internet contact information, just e-mail or IM me and I'll be happy to give it to you.