---
title: Links
---

:markdown
  What's a website without a collection of interesting links? Assembled here are sites that would not otherwise have been listed here, but that are worthy of further clicking and somehow related to my own pursuits. This page is always under construction, and some of the categories here may yet turn into pages of their own...watch this space!
  {: #top}

  You might also want to see [my bookmarks](http://del.icio.us/marnen) at [del.icio.us](http://del.icio.us), a "social bookmark manager" which I highly recommend.

%section
  :markdown
    # Contents

    * [Computers and other geeky stuff](#geek)
    * [Folk music and dance](#folk)
    * [Genealogy](#genealogy)
    * [Languages and linguistics](#languages)
    * [SCA and other medieval stuff](#sca)
    * [Affiliate links](#affiliate)
    * [Other cool sites](#other)



    # Computers and other geeky stuff {#geek}

    * [Ambrosia Software.](http://www.ambrosiasw.com/) Makers of the most insanely great Mac games around!
    * [Apple Computer.](http://www.apple.com/) Still making the absolute best personal computers out there.
    * <a href="http://geourl.org/near?p=http://www.marnen.org" title="check out my neighbors in meatspace"><image_tag src="http://i.geourl.org/geourl.png" alt="GeoURL." border="0" width="52" height="14" /></a> A directory correlating URLs of websites with the real-life latitudes and longitudes of the entities behind those sites. Once you add a couple of <code>&lt;meta&gt;</code> tags and submit your sites for listing, you can then see nearby sites (the link_to at the beginning of this entry will show sites with coordinates near mine).
    * [International Obfuscatory C Code Competition.](http://www.ioccc.org)
      Flexible spacing and preprocessor macros are some of the joys of programming in C...but you gotta use 'em right. The past winners of this competition have turned out some of the worst (and funniest) C code in existence...just <i>try</i> to understand it!
    * [InterNIC.](http://www.internic.net/)
      If there were an Internet, Inc., this would be it. The InterNIC is as much in charge of running the Net as anyone can be given the Net's decentralized nature. The website is very interesting and informative.
    * [North American Numbering Plan site.](http://www.nanpa.org/)
      For true diehard geeks. This site has all the information you'll ever want about the North American Numbering Plan, including details on those new area codes that are springing up all over the place.
    * [TUCOWS (The Ultimate Collection Of Winsock Software).](http://www.tucows.com/)
      The name is somewhat misleading: this is actually a fine collection of downloadable programs of all kinds (there's definitely an Internet emphasis, though), for Mac OS as well as all flavors of Windows.
    * [The Unicode Consortium.](http://www.unicode.org/)
      The future of text encoding: instead of the 8-bit character codes now in use (giving no more than 256 characters per set), Unicode uses 16 bits. This yields 2<sup>16</sup> = 65 536 characters per set. Just to give an idea of what this means, code numbers have already been assigned for a variety of scripts including Roman (with every accented letter you can think of), International Phonetic Alphabet, Greek, Cyrillic, Georgian, Arabic, Hebrew, about 10 Indian scripts, Thai, Japanese, Korean, a couple of thousand Chinese characters...and there are still about <b>18 000</b> code numbers left over! If that's not enough, there's even a possibility of 32-bit encoding, giving 16 777 216 positions. Very exciting, if you ask me. (What's that? You didn't ask? Well, then, just forget I said anything!)

    [Back to top](#top)

    # Folk music and dance {#folk}

    * [ABC home page.](http://www.gre.ac.uk/%7ec.walshaw/abc/index.html) ABC is a format increasingly used by folk musicians for exchanging tunes over the Internet. Though simple enough to be easily human-readable and -writable, it is rigorous enough that it can be run through a conversion program to generate standard music notation or MIDI files. Extremely clever, eh what?
    * [Country Dance &amp; Song Society.](http://www.cdss.org/) The preeminent organization supporting Anglo-American folk music and dance.
    * [Round Hill Country Dances.](http://www.geocities.com/Heartland/Meadows/9832/) Contra dances in Greenwich, Connecticut, second Saturday of every month. One of the nicest contra groups around, in my (biased) opinion. I'm there most months...if you like the site or have an idea about it, find me (there aren't too many Marnens around) and let me know! (All right, I know it's an item of limited geographic interest, but my father's the president of the group...what's wrong with a little nepotism? Besides, it's a great place to dance!)

    [Back to top](#top)

    # Genealogy

    Good books on this topic:

    * Emily Anne Croom, <a href="http://www.amazon.com/exec/obidos/redirect?link_code=ur2&camp=1789&tag=marnenlaibowkose&creative=9325&path=ASIN/1558703969/marnenlaibowkose"><cite>Unpuzzling Your Past: A Basic Guide to Genealogy</cite></a><image_tag src="http://www.assoc-amazon.com/e/ir?t=marnenlaibowkose&l=ur2&o=1" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
    * Christine Rose & Kay Germain Ingalls, <a href="http://www.amazon.com/exec/obidos/redirect?link_code=ur2&camp=1789&tag=marnenlaibowkose&creative=9325&path=ASIN/0028619471/marnenlaibowkose"><cite>The Complete Idiot's Guide to Genealogy</cite></a><image_tag src="http://www.assoc-amazon.com/e/ir?t=marnenlaibowkose&l=ur2&o=1" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
    * Dan Rottenberg, <a href="http://www.amazon.com/exec/obidos/redirect?link_code=ur2&camp=1789&tag=marnenlaibowkose&creative=9325&path=ASIN/0806311517/marnenlaibowkose"><cite>Finding Our Fathers</cite></a><image_tag src="http://www.assoc-amazon.com/e/ir?t=marnenlaibowkose&l=ur2&o=1" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />. Geared specifically to Jewish genealogy.

    [Back to top](#top)

    # Languages and linguistics {#languages}

    * [alt.language.artificial.](news:alt.language.artificial) Fascinating newsgroup, for discussion of constructed languages and other linguistic matters.
    * [AltaVista translation service.](http://babelfish.altavista.digital.com/) Need a quick and dirty machine translation? You can get it done here between English and French, German, Italian, Portuguese, or Spanish. This site will even translate an entire web page, HTML and all--and best of all, it's free! Very cool.
    * [Brithenig.](http://hobbit.griffler.co.nz/introduction.html) Ever wondered what a Romance language heavily influenced by a Celtic language such as Welsh would look like? Brithenig attempts to answer that question. Really nicely done.
    * [Kinya.](http://www.iris.firenze.it/%7emmg/kinya.htm) An outline of a lovely constructed language with a nice alphabet, closely tied to a heavily artistic and philosophical culture. One of the best language and culture construction jobs out there (check out the footnotes!).
    * [The Klingon Language Institute.](http://www.kli.org/) Yes, Virginia, there is a Klingon language. It was developed by Mark Okrand for <cite>Star Trek III: The Search for Spock </cite>and described in <a href="http://www.amazon.com/exec/obidos/ASIN/067174559X/marnenlaibowkose" target="amazon"><cite>The Klingon Dictionary</cite></a>, <a href="http://www.amazon.com/exec/obidos/ASIN/0671797395/marnenlaibowkose" target="amazon"><cite>Conversational Klingon</cite></a>, and <a href="http://www.amazon.com/exec/obidos/ASIN/0671879758/marnenlaibowkose" target="amazon"><cite>Power Klingon</cite></a>, and has attracted a fair number of speakers. The Klingon Language Institute sponsors, among other things, projects to translate the Bible and the works of Shakespeare, and publishes a quarterly journal. 'Iwchaj jachjaj!

    [Back to top](#top)

    # SCA and other medieval stuff {#sca}

    Humorous SCA links are [over here](/funstuff/sca.html).

    * [Society for Creative Anachronism.](http://www.sca.org) The official site. A good place to find out just what the SCA is about.
    * [rec.org.sca.](news:rec.org.sca) The newsgroup for all things SCAdian; also known as the Rialto. The FAQ is <a href="http://www.unc.edu/%7esherman/sca-faq.htm">here</a>.
    * [Stefan's Florilegium.](http://www.pbm.com/%7elindahl/rialto/rialto.html) An archive of postings from rec.org.sca, arranged by subject. Somewhat out of date (though it seems to get updated every now and then), but invaluable as a starting point for research.
    * [Camera Lucida.](http://www.squidoo.com/camera-lucida) A &quot;lens&quot; which I maintain on <a href="http://www.squidoo.com">Squidoo</a>, serving as a portal for general SCA resources.
    * [A Guiding Hand.](http://www.ansteorra.org/regnum/hospitaler/GuidingHand/guidhan1.htm) A fine beginner's guide to the SCA. The server seems to be a bit unreliable, so it may take a few tries to connect.
    * [Dagonell's Research Notebook.](http://www-cs.canisius.edu/%7esalley/articles.html) A collection of fascinating articles, including some observations occasioned by the process of making the Principality of &AElig;thelmearc (western Pennsylvania and New York, as well as West Virginia) into an <a href="http://www.aethelmearc.org">independent kingdom</a>.
    * <a href="http://web.mit.edu/dagoura/WWW/Working-Drafts/harb/harbingering.html" add_date="880790230" last_visit="0" last_modified="0">Harbingering for the Pennsic War</a>. One person's philosophy for creating happy campers at <a href="http://www.pennsicwar.org">Pennsic</a> (the SCA's big summer event--2 weeks, nearly 10 000 people). I don't completely agree with the approach taken here, but it's certainly food for thought.
    * <a href="http://www.math.harvard.edu/%7eschuldy/howtoautocrat.html" add_date="891495581" last_visit="0" last_modified="0">How To Autocrat in Carolingia</a>. A must-read for anyone thinking of running an SCA event. Geared to the <a href="http://www.carolingia.org/">Barony of Carolingia</a> (metropolitan Boston, MA), but contains a lot of generally useful information. Non-SCAdians will find this a good read too.
    * [Pennsic.](http://www.pennsicwar.org)
    How could I have a collection of SCA links without one for Pennsic?
    * [Pennsic Polyphonic Challenge.](http://www.cs.cmu.edu/%7emjc/poly.html)
    A polyphonic music competition, taking place at Pennsic this year! (P.S. I won the composition category in 1998!)
    * [Postmodern Medievalism.](http://www.tased.edu.au/tasonline/sca/thesis-d.htm)
    A paper on why people are drawn to medieval recreation in general, and to the SCA in particular. Really fascinating. Written as a senior thesis in sociology by Cary John Lenehan, a student at the University of Tasmania.
    * [SCA pixel badges.](scabadges)
    80&#215;15-pixel badges for all 19 SCA kingdoms, in appropriate colors. Created with <a href="http://cooltext.com">Cool Text</a> by yours truly; freely available for use by anyone.

    [Back to top](#top)

    # Affiliate links {#affiliate}

    The links in this section are affiliate links: you follow the links (and in some cases buy what they're selling), and I get a small commission. It's a win-win-win situation: you get a good product or service, the site gets more business, and I get paid. If you have any positive or negative feedback about these companies, please <a href="mailto:marnen@marnen.org">let me know</a> -- I hope these resources are useful, and I have no desire to be promoting anything but high-quality products and companies.

    * <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=marnenlaibowkose&o=1&p=41&l=ur1&category=home&banner=1270GKH01H1T39T27502&f=ifr&linkID=HXJKSTZK5QVRL34H" width="88" height="31" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe> The Web's best-known bookstore (all the book links on this site go here). Big collection, heavy discounts, and they give me a <s>kickback</s> commission if anyone follows a link_to from here to their site and buys a book!
    * <a href="http://www.dxstorm.com/dxshop2/?cc=t&affid=A1434"><img src="http://www.dxstorm.com/dxstorm2/banners/shop1_120x60.gif" alt="DXshop." width="120" height="60"></a> A provider of hosted e-commerce solutions such as shopping carts. Has several levels of service for businesses running the gamut from microscopic to gargantuan.

    [Back to top](#top)

    # Other cool sites {#other}

    * [Heraldica.](http://www.heraldica.org/) An excellent site for all things heraldic. If you'd rather read a book on the topic, try <a href="http://www.amazon.com/exec/obidos/redirect?link_code=ur2&camp=1789&tag=marnenlaibowkose&creative=9325&path=ASIN/051746893X/marnenlaibowkose"><cite>A Complete Guide to Heraldry</cite></a><image_tag src="http://www.assoc-amazon.com/e/ir?t=marnenlaibowkose&l=ur2&o=1" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /> by A.C. Fox-Davies.
    * [Mark Rosenfelder's Metaverse.](http://www.zompist.com) There's so much here, I honestly don't know how to classify this site. Mark is a computer programmer somewhere out in Chicagoland who is also, like me, a language nut. He's created a whole (very beautiful) <a href="http://www.zompist.com/virtuver.htm">imaginary world</a> and the languages to go along with it, and has some interesting essays in linguistics on his site, including the Language Construction Kit (ever wanted to make your own language? Here's how!). He's also got a few pages with the <a href="http://www.zompist.com/numbers.shtml">numbers 1 to 10</a> in over 2400 languages. As if that weren't enough, he writes and reviews science fiction, draws cartoons, and is an editor of the <a href="http://www.spinnwebe.com/dfc/">Dysfunctional Family Circus</a>. Check out this site!
    * [Metacrawler.](http://www.metacrawler.com/) I don't know why this search site isn't better known. Instead of using just one database, it submits each query to <a href="http://www.altavista.digital.com/">AltaVista</a>, <a href="http://www.excite.com/">Excite</a>, <a href="http://www.infoseek.com/">Infoseek</a>, <a href="http://www.lycos.com/">Lycos</a>, <a href="http://www.thunderstone.com/">Thunderstone</a>, <a href="http://www.webcrawler.com/">WebCrawler</a>, and <a href="http://www.yahoo.com/">Yahoo</a>, then consolidates the results into one list. Not perfect (I wish it included <a href="http://www.hotbot.com/">HotBot</a>), but very useful.
    * [Oceania.](http://oceania.org/) At first glance, this project seems absolutely ridiculous. The goal is to build an artificial island off the coast of Panama, and establish a country there, a sort of libertarian paradise. Get the picture? Now stop scoffing for a moment, open your mind a bit, and go look at the site. Well worth the bandwidth.
    * <a href="http://www.sixdegrees.com/"><b>six</b>degrees</a>. This is a really neat site: you sign up (it's free) and give <b>six</b>degrees the names of your friends and relatives, who in turn are asked to do the same. Once this has been done, you can search for a person, and <b>six</b>degrees will tell you if that person is a friend, a friend's friend, or even a friend of a friend's friend! Cool networking tool, eh?